header {
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.submit {
  background-color: blueviolet;
  color: white;
}

span {
  font-weight: bold;
}
